export("%dorng%")
export(RNGscope)
export(RNGseq)
export(doRNG)
export(doRNGseed)
export(doRNGversion)
export(registerDoRNG)
export(setRNG)
export(write.bib)
importFrom(iterators,iter)
importFrom(utils,compareVersion)
importFrom(utils,packageVersion)
